<p>Andy Oakley is a Program Manager at Microsoft working on Bing, big data, and machine learning. <a href="/about/">More...</a></p>

<p>Email at <a href="mailto:andy@andyoakley.com">andy@andyoakley.com</a> (<a href="/1F9748BA.txt">public key</a> F638 E16B 2C79 1EFE 97D9  F1B4 E261 D7FD <b>1F97 48BA</b>)</p>

<p>
<ul>
  <li><a href="/about/">About and contact</a></li>
  <li><a href="/archives/">Archives</a> and <a href="/tags/">tags</a></li>
  <li><a href="http://photos.andyoakley.com">Photos</a></li>
  <li><a href="/resume/">Resume</a></li>
</ul>
</p>
