<p>Andy Oakley is a Program Manager at Microsoft working on Bing, big data, and machine learning. <a href="/about/">More...</a></p>

<h3></h3>
<p>
  <ul>
    <li><a href="mailto:andy@andyoakley.com">andy@andyoakley.com</a></li>
    <li><a href="/1F9748BA.txt">Public key</a></li>
  </ul>
</p>

<h3></h3>
<p>
<ul>
  <li><a href="/about/">About and contact</a></li>
  <li><a href="/archives/">Archives</a> and <a href="/tags/">tags</a></li>
  <li><a href="http://photos.andyoakley.com">Photos</a></li>
  <li><a href="/resume/">Resume</a></li>
</ul>
</p>
